body{
  background-color: darkseagreen;
  font-family: Times New Roman;
  margin: 72px 24px;
  line-height: 2;
  margin: 0 auto;
  max-width: 980px;
  line-height: 1.5em;
  text-align: justify;
}
* {
  margin:0;
  padding:0;
}
h1{
  color:CornflowerBlue;
  font-size: 60px;
  letter-spacing: 3px;
  word-spacing: 15px;
  text-shadow: 3px 3px 5px #333;
  line-height:1.7em;
}

p {
  line-height: 1.5em;
  text-align: justify;
	color: Olive;
}
